<div id="<%= dom_id transaction %>" class="max-w-md mx-auto bg-white p-6 rounded shadow space-y-4">
  <div>
    <p class="text-gray-600 text-sm font-semibold">Título</p>
    <p class="text-lg text-gray-900"><%= transaction.title %></p>
  </div>

  <div>
    <p class="text-gray-600 text-sm font-semibold">Valor</p>
    <p class="text-lg text-gray-900"><%= number_to_currency(transaction.amount, unit: "R$", separator: ",", delimiter: ".") %></p>
  </div>

  <div>
    <p class="text-gray-600 text-sm font-semibold">Descrição</p>
    <p class="text-gray-800"><%= transaction.description %></p>
  </div>

  <div>
    <p class="text-gray-600 text-sm font-semibold">Tipo de Transação</p>
    <p class="text-gray-800"><%= transaction.transaction_type %></p>
  </div>

</div>
